.datetime-picker::-webkit-calendar-picker-indicator, .time-picker::-webkit-calendar-picker-indicator{
    opacity: 0;
    display: block;
    position: absolute;
    right: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.select-scrollbar::-webkit-scrollbar {
  overflow-y: auto;
  width: 8px;
}

.select-scrollbar::-webkit-scrollbar-track {
  background: 	#27272A;
}

.select-scrollbar::-webkit-scrollbar-thumb {
  background-color: 	#71717A;
  border-radius: 4px;
}

.table-scrollbar::-webkit-scrollbar {
  overflow-y: auto;
  width: 8px;
}

.table-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: 	#71717a29;
  border-radius: 10px;
}
